.container
{
    padding: 20px;
    margin: 20px auto;
    background-color:bisque;
    border:skyblue 5px solid;
    width:80%;
}
.container h1{
    text-align: center;
    margin-bottom: 20px;
    padding-bottom:20px;
    border-bottom:2px solid gray;
}
.images
{
    gap:20px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.images img
{
    width: 220px;
    height: 220px;
    border:2px solid black;
    object-fit: cover;
    
}